@media screen and (max-width: 767px) {
  .main-header .header-body {
    padding: 10px 5%;
  }
  .main-header .header-body .header {
    flex-direction: column;
  }
  .main-header .header-body .header .list {
    padding: 20px 0;
    width: 100%;
  }
  .main-header .header-body .header .list .list-item {
    padding: 2%;
  }
  .main-header .header-body .header .list .list-item .link {
    font-size: 15px;
  }
  .main-header .header-body .header .container .button {
    font-size: 15px;
    padding: 10px 30px;
  }
  .main-header .header-body .svg {
    display: none;
  }
  .main-header .header-body .main .container .paragraph {
    width: 100%;
  }
  .main-header .header-body .main .container:nth-of-type(3) .paragraph .list .list-item {
    width: 100%;
  }
  .main-header .header-body .main .container.row.group {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .main-header .header-body .main .container.row.group .col {
    justify-content: flex-start;
    padding: 10px 0;
  }
  .main-header .header-body .main .container.row.group .col:nth-of-type(1), .main-header .header-body .main .container.row.group .col:nth-of-type(2) {
    border-right: none;
  }
  .main-header .header-body .main .container.row.group .col p {
    padding: 0 20px;
  }
  .main-content .main-body {
    padding: 10px 5%;
  }
  .main-content .main-body .container.plan .main {
    flex-direction: column;
  }
  .main-content .main-body .container.plan .main .col-rectangle {
    margin: 20px 0;
    padding: 40px 5%;
  }
  .main-content .main-body .row-rectangle {
    flex-direction: column;
    padding: 30px 0;
  }
  .main-content .main-body .row-rectangle .brand-svg {
    width: 100%;
    padding: 20px 0;
  }
  .main-content .main-body .carousel .main {
    margin-left: 1080px;
  }
  .main-content .main-body .carousel .main .container {
    width: 300px;
  }
  .main-content .main-body .carousel .footer .container {
    justify-content: center;
  }
  .main-content .main-body .carousel .footer .button-wrapper {
    margin-top: 50px;
    justify-content: space-evenly;
  }
  .main-content .main-body .container.row.group {
    flex-direction: column;
    width: 100%;
  }
  .main-content .main-body .container.row.group .col .button {
    font-size: 20px;
    margin-top: 30px;
  }
  .main-footer .footer-body {
    padding: 45% 5% 50px 5%;
    flex-direction: column;
  }
  .main-footer .footer-body .list-group {
    margin-top: 15%;
    flex-direction: column;
  }
  .main-footer .footer-body .list-group .list {
    margin: 40px 0 20px 0;
  }
}