@media screen and (min-width: 768px) and (max-width: 1023px) {
    .main-header {
        .header-body {
            padding: 20px 50px;

            .header {
                flex-direction: column;

                .list {
                    padding: 20px 0;
                    width: 100%;

                    .list-item {
                        padding: 2%;

                        .link {
                            font-size: 20px;
                        }
                    }


                }

                .container {
                    .button {
                        font-size: 20px;
                        padding: 10px 30px;
                    }
                }
            }

            .svg {
                display: none;
            }


            .main {
                .container {
                    .paragraph {
                        width: 100%;
                    }

                    &:nth-of-type(3) {
                        .paragraph {
                            .list {
                                .list-item {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }

                .container.row.group {
                    flex-direction: row;
                    width: 100%;

                    .col {
                        align-items: center;
                        flex-direction: column;
                        padding: 10px;

                        span {
                            width: max-content;
                        }


                        p {
                            padding: 0 20px;
                        }
                    }
                }
            }
        }
    }

    //Main

    .main-content {
        .main-body {
            padding: 20px 50px;

            .container.plan {
                .main {
                    flex-direction: column;

                    .col-rectangle {
                        margin: 20px 25%;
                        padding: 40px 5%;

                    }
                }
            }

            .row-rectangle {
                flex-direction: column;
                padding: 30px 0;

                .brand-svg {
                    width: 100%;
                    padding: 20px 0;
                }
            }

            .carousel {
                .main {
                    margin-left: 1700px;
                }
            }

            .container.row.group {
                width: 100%;

                .col {
                    .button {
                        font-size: 30px;
                    }
                }
            }
        }
    }

    //Footer
    .main-footer {
        .footer-body {
            padding: 130px 50px 50px 50px;
            flex-direction: column;

            .list-group {
                margin-top: 5%;

                .list {
                    margin: 40px 0 20px 0;
                }
            }
        }
    }
}